<div class="text-4xl font-serif"><h2>Create a new BucketList</h2></div>
<form action="" method="POST">
<div class='form-row'><label>Name:</label> <input type="text" name="listname" required></div>
<input type="hidden" name="_id" value="{{user._id}}">
<div class="form-row rounded-full bg-blue text-white inline-block border-solid p-4 mb-4"><input type="submit" value="Create New BucketList"></div>
</form>
