<form method="POST" action="">
	<div class='form-row caret-pink-500'><label>Username:</label> <input name="username" type="text" required></div>
	<div class='form-row caret-pink-500'><label>Password:</label> <input name="password" type="password" required></div>
	<div class="form-row rounded-full bg-blue text-white inline-block border-solid p-4 mb-4"><input type="submit" value="Login"></div>
	<div class='form-row'>Don't have an account? <a href="/register">Register</a>.</div>
</form>
