<h1>Check off your requirements and press "Surprise Me" to Continue</h1>
<form action="../activities/surprise" method="POST">
<div class='form-row'>
<input type="checkbox" name= "indoor" value="present"> Indoor
<input type="checkbox" name= "outdoor" value="present"> Outdoor<br />
<input type="checkbox" name= "winter" value="present"> Winter
<input type="checkbox" name= "summer" value="present"> Summer
<input type="checkbox" name= "spring" value="present"> Spring
<input type="checkbox" name= "fall" value="present"> Fall
<input type="checkbox" name= "yearRound" value="present"> Year Round<br />
<input type="checkbox" name= "morning" value="present"> Morning
<input type="checkbox" name= "afternoon" value="present"> Afternoon
<input type="checkbox" name= "evening" value="present"> Evening
<input type="checkbox" name= "lateNight" value="present"> Late Night
<input type="checkbox" name= "twentyFourHr" value="present"> Twenty-Four Hour<br />
<input type="checkbox" name= "priceFree" value="present"> Free
<input type="checkbox" name= "priceCheap" value="present"> Cheap
<input type="checkbox" name= "priceModerate" value="present"> Moderate
<input type="checkbox" name= "priceExpensive" value="present"> Expensive<br />
</form>

<div class="form-row rounded-full bg-blue text-white inline-block border-solid p-4 mb-4"><input type="submit" value="Surprise Me"></div>