<form method="POST" action="">
	<div class='form-row'><label>Username:</label> <input name="username" type="text" required></div>
	<div class='form-row'><label>Password:</label> <input name="password" type="password" required></div>
	<div class="form-row rounded-full bg-blue text-white inline-block border-solid p-4 mb-4"><input type="submit" value="Register"></div>
	<div class='form-row'>Already have an account? <a href="/login">Login</a>.</div>
</form>
