@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 50px;
  font: 18px "Times New Roman", Times, serif;
}

a {
  color: blue;
}

.form-row {
	padding:0.5em;
}

form {
	
}

#wrapper {

}

#activity {

	padding: 1em;
}

#activity li {
	list-style-type: none;
	padding-top:0.25em;
	padding-bottom:0.25em;
}

#activity li.checked {
	text-decoration: line-through;
	padding: 0.25em 0.25em 0.25em 1.5em;
}

.qty {
	width: 3em;
}

input[type='checkbox'] {
	margin-right: 1em;
}

input[type=submit] {
	padding:5px 15px; 
	
	border:0 none;
	cursor:pointer;
	font-size:1em;
}

input {
	font-size:1em;
}

input[type=submit]:hover {
	
}
